#header {
    display: flex;  
    justify-content: space-between;
    background-color: #4B61DD;
    align-items: center;
    padding: 30px 64px;
}

.nav-links ul {
    display: flex;
    list-style: none;
    gap: 32px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500; 
    font-size: 16px;
}

.contact-button a {
    background-color: #CCFF00; 
    color: rgb(0, 0, 0);
    padding: 12px 24px;
    border-radius: 32px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.nav-links a:hover {
    opacity: 0.8;
    text-decoration: underline;
}

.contact-button a:hover {
    opacity: 0.9;
    text-decoration: underline;
}

/* home section */
#home {
    background-color: #4B61DD; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    position: relative;
}

.hello {
    font-size: 120px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}