#header {
    display: flex;  
    justify-content: space-between;
    background-color: #4B61DD;
    align-items: center;
    padding: 30px 64px;
}

.nav-links ul {
    display: flex;
    list-style: none;
    gap: 32px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500; 
    font-size: 16px;
}

.contact-button a {
    background-color: #CCFF00; 
    color: rgb(0, 0, 0);
    padding: 12px 24px;
    border-radius: 32px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.nav-links a:hover {
    opacity: 0.8;
    text-decoration: underline;
}

.contact-button a:hover {
    opacity: 0.9;
    text-decoration: underline;
}

/* home section */
#home {
    background-color: #4B61DD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    min-height: 100vh; 
}

.hello {
    color: white;
    font-weight: bold;
    margin-bottom: 0vh;
    font-size: 10vw; 
}

.intro {
    text-align: center;
}

.intro h1 {
    color: white;
    font-size: 10vw; 
    margin: 0;
    margin-bottom: 0vh
}

.title {
    color: white;
    font-size: 2.8vw; 
    margin: 0;
    font-style: italic;
    opacity: 0.9;
}

.content-box {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    width: 90%;
    margin: 2vh auto;
    text-align: center;
    min-height: 20vh; 
}

.decorative-dot {
    font-size: clamp(80px, 12vw, 160px);
    position: absolute;
}

.dot1 {
    top: 15vh;
    right: 5vw;
    color: #CCFF00;
}

.dot2 {
    bottom: 25vh;
    left: 5vw;
    color: #FF69B4;
}

.dot3 {
    top: 40%;
    left: 15%;
    color: #CCFF00;
}

.dot4 {
    bottom: 30%;
    right: 15%;
    color: #FF69B4;
}
.dot5 {
    top: 500%;
    left: 15%;
    color: #CCFF00;
}

/*about section*/


.about {
    text-align: center; 
    margin: 0px auto; 
    padding: 20px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
   
  }
  
  
  #about .abtitle {
    font-family: 'Georgia', serif; 
    color: #333; 
    margin-bottom: 15px;
    font-size: 4vw;
  }
  
  
  #about .info {
    font-family: 'Arial', sans-serif; 
    color: #555; 
    line-height: 1.6; 
    margin-bottom: 20px; 
  }
  
  
  #about .profile-img {
    display: block;
    margin: 0 auto 20px; 
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
  }
/*projects*/
  #projects {
	overflow-x: hidden;
	padding: 20px;
	text-align: center;
  }

  .projtitle {
	font-size: 2rem;
	margin-bottom: 20px;
	animation: fadeInRight 1s ease-in; 
  }

  .project-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 20px;
	justify-items: center;
  }

  .project-item {
	border: 1px solid #ccc;
	border-radius: 8px;
	overflow: hidden;
	text-align: center;
  }

  .project-item:hover {
	transform: scale(1.05);
  }